@use "../../base/globals.scss" as s;

.size {
  box-sizing: border-box;
  width: 100%;
  min-height: 540px;
  padding: 50px 13px 38px 13px;

  background-image: url("../img/size/size-mob.webp");
  @include s.bgr();

  @include s.d-flex($direction: column, $justify: center, $align: center);
  gap: 25px;

  &__title {
    padding: 0 15px;
    font-family: s.$font__roboto;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;
    br {
      display: none;
    }
  }
  &__info {
    @include s.d-flex($direction: column, $justify: center, $align: center);
    gap: 10px;
    &-svg {
      @include s.d-flex($direction: column, $justify: center, $align: center);
      p {
        padding: 0;

        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0.1em;
      }
      h3 {
        padding: 65px;
        position: relative;
        box-sizing: border-box;

        font-family: s.$font__br;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.75;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 2%;

          width: 100%;
          height: 100%;
          background: url("../img/size/element-size.svg") no-repeat center /
            contain;
        }
      }
    }
    &-variant {
      width: 100%;
      @include s.d-flex($direction: column, $justify: center, $align: center);
      gap: 15px;
      &-btns {
        @include s.d-flex($direction: row, $align: center);
        gap: 10px;
        button {
          width: 77.5px;
          background: transparent;
          border: none;
          @include s.d-flex(
            $direction: column,
            $justify: center,
            $align: center
          );
          gap: 6px;

          transition: all 0.5s ease;
          p {
            border-radius: 100%;
            background: rgba(255, 255, 255, 0.25);
            @include s.d-flex(
              $direction: column,
              $justify: center,
              $align: center
            );

            width: 20px;
            height: 20px;

            font-weight: 700;
            font-size: 12px;
            color: s.$color__white;

            transition: background 0.5s ease;
          }
          h3 {
            font-family: s.$font__br;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;

            color: s.$color__white;
            transition: color 0.5s ease;
          }
          &:hover {
            p {
              background: rgba(255, 255, 255, 0.45);
            }
            h3 {
              color: s.$color__gold;
            }
          }
        }
      }
      &-hover {
        @include s.d-flex($direction: row, $justify: center, $align: center);
        gap: 4px;
        hr {
          border-color: s.$color__white;
          width: 44px;
          &.size__info-variant-hover-vip {
            width: 55.4px;
          }

          transition: border-color 0.5s ease;
          &.active {
            border-color: s.$color__gold;
          }
        }
        svg {
          fill: s.$color__white;
          padding: 8px;
          width: 5px;
          height: 5px;
          border-radius: 100%;
          border: none;

          transition: all 0.5s ease;

          &.active {
            fill: s.$color__gold;
            border: 1px solid s.$color__gold;
          }
        }
      }
    }
    &-price {
      @include s.d-flex($direction: row);
      gap: 9px;

      font-family: s.$font__br;
      font-weight: 400;
      font-size: 30px;
      line-height: 1.8;
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 3.42857;
        letter-spacing: 0.1em;
      }
    }
  }

  // ------------------- 768 -----------------
  @media (min-width: s.$media_768) {
    min-height: 718px;
    padding: 47px 90px 50px 90px;

    background-image: url("../img/size/size-tablet.webp");

    gap: 20px;

    &__title {
      padding: 0 20px;

      font-size: 18px;
    }
    &__info {
      gap: 30px;
      &-svg {
        p {
          padding: 0;

          line-height: 2;
        }
        h3 {
          padding: 85px;

          font-size: 64px;
          line-height: 1.09375;
        }
      }
      &-variant {
        gap: 25px;
        &-btns {
          // @include s.d-flex($direction: row, $align: center);
          gap: 20px;
          button {
            width: 140px;
            gap: 5px;

            p {
              width: 26px;
              height: 26px;

              font-size: 14px;
            }
            h3 {
              font-size: 24px;
            }
          }
        }
        &-hover {
          gap: 7px;
          hr {
            border-color: s.$color__white;
            width: 100px;
            &.size__info-variant-hover-vip {
              width: 100px;
            }
          }
          svg {
            padding: 16px;
            width: 8px;
            height: 8px;
          }
        }
      }
      &-price {
        @include s.d-flex($direction: row, $align: center);
        gap: 25px;
        margin-left: 90px;

        font-size: 64px;
        line-height: 1.3;
        span {
          font-size: 24px;
          line-height: 2;
        }
      }
    }
  }
  // ------------------- 1440 -----------------
  @media (min-width: s.$media_1440) {
    position: relative;
    min-height: auto;
    height: 100vh;
    padding: 0;

    background-image: url("../img/size/size-desk.webp");

    @include s.d-flex($direction: column);
    gap: 0px;

    &__title {
      position: absolute;
      padding: 0;
      top: calc(280px / 1080px * 100%);
      left: calc(545px / 1920px * 100%);

      text-align: left;
      text-transform: none;

      font-size: 22px;
      letter-spacing: 0.3em;
      br {
        display: block;
      }
    }
    &__info {
      position: absolute;
      top: calc(323px / 1080px * 100%);
      left: calc(263px / 1920px * 100%);

      @include s.d-flex($direction: row, $justify: center, $align: center);
      gap: 0px;
      &-variant {
        width: auto;
        gap: 23px;
        &-btns {
          gap: 19px;
          button {
            gap: 0px;
            p {
              display: none;
            }
            h3 {
              margin-right: 10px;

              font-size: 28px;
            }
          }
        }
        &-hover {
          margin-left: 10px;
          gap: 7px;

          hr {
            border-color: s.$color__white;
            width: 100px;
            &:first-of-type {
              width: 80px;
            }
          }
        }
      }
      &-price {
        margin-top: 50px;
        gap: 15px;
        // margin-left: 90px;
        margin-left: 30px;

        // font-size: 64px;
        font-size: 44px;
      }
    }
  }
  // ------------------- 1920 -----------------
  @media (min-width: s.$media_1920) {
    padding-top: calc(152px / 1080px * 100%);
    padding-left: calc(243px / 1920px * 100%);
    &__info {
      max-width: 1346px;
      &-price {
        margin-left: 88px;

        font-size: 64px;
      }
    }
  }
}
