@use "../../base/globals.scss" as s;

.styles {
  width: 100%;
  min-height: 480px;
  @include s.d-flex($direction: column, $justify: stretch);

  &__item {
    cursor: pointer;
    height: 160px;

    @include s.d-flex($direction: column, $justify: center, $align: center);

    box-sizing: border-box;
    position: relative;

    transition: all 0.5s ease;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      transition: opacity 0.3s ease;
    }

    &.styles__item-elite {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("../img/page-3/elite.webp");
      @include s.bgr();
    }
    &.styles__item-vip {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("../img/page-3/vip.webp");
      @include s.bgr();
    }
    &.styles__item-extra {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("../img/page-3/extra.webp");
      @include s.bgr();
    }

    &-title {
      font-family: s.$font__br;
      position: relative;
      width: 100%;

      font-weight: 400;
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        width: 100%;
        height: 65px;
        background: url("../img/page-3/half-colo.svg") no-repeat center /
          contain;
        opacity: 0;
      }
    }
    &-hover {
      display: none;

      &-desc {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.71429;
        text-transform: uppercase;
        text-align: center;
      }
      &-btns {
        cursor: pointer;

        @include s.d-flex($direction: column, $align: center);
        button {
          @include s.d-flex($direction: row, $align: center);
          background: transparent;
          border: none;
          svg {
            width: 100px;
            height: 30px;
          }
        }
        &-gall {
          p {
            display: none;

            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0.45em;
            text-transform: uppercase;
            color: s.$color__gold;

            transition: color 0.5s ease;
          }
          svg {
            fill: transparent;
            stroke: s.$color__gold;
            width: 120px;
            height: 22px;

            transition: stroke 0.5s ease;
          }

          &:hover {
            p {
              color: s.$color__white;
            }
            svg {
              stroke: s.$color__white;
            }
          }
        }
        &-list {
          display: none;
          p {
            display: none;

            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.45em;
            text-transform: uppercase;
            color: s.$color__white;

            transition: color 0.5s ease;
          }
          svg {
            display: none;

            fill: transparent;
            stroke: s.$color__white;
            width: 77px;
            height: 22px;

            transition: stroke 0.5s ease;
          }

          &:hover {
            p {
              color: s.$color__gold;
            }
            svg {
              stroke: s.$color__gold;
            }
          }
        }
      }
    }

    // ------------ hover --------------
    &:hover {
      height: 480px;
      gap: 67px;

      .styles__item-title {
        &::after {
          opacity: 1;
        }
      }

      .styles__item-hover {
        display: block;
        padding: 0 20px;

        &-desc {
          margin-bottom: 47px;
        }
        &-btns {
          &-gall {
            p {
              display: none;
            }
          }
          &-list {
            display: none;
            p {
              display: none;
            }
            svg {
              display: none;
            }
          }
        }
      }
    }
  }

  // ------------------- 768 -----------------
  @media (min-width: s.$media_768) {
    min-height: 576px;

    &__item {
      height: 192px;

      &-title {
        font-size: 36px;

        &::after {
          height: 108px;
        }
      }
      &-hover {
        &-desc {
          font-size: 16px;
          line-height: 1.5;
        }
        &-btns {
          button {
            gap: 38px;
          }
          &-gall {
            svg {
              width: 135px;
            }
          }
        }
      }

      // ------------ hover --------------
      &:hover {
        height: 576px;
        gap: 142px;

        .styles__item-hover {
          display: block;
          padding: 0 109px;

          &-desc {
            margin-bottom: 92px;
          }
          &-btns {
            &-gall {
              p {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  // ------------------- 1440 -----------------
  @media (min-width: s.$media_1440) {
    width: 100%;
    height: 100vh;
    @include s.d-flex($direction: row, $justify: stretch);

    &__item {
      @include s.d-flex($direction: row, $align: center);
      box-sizing: border-box;
      flex: 1;

      height: 100%;
      &::after {
        background: none;
      }
      &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      &.styles__item-elite {
        &:hover {
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../img/page-3/elite.webp");
        }
        .styles__item-title {
          &::after {
            top: -70%;
            left: -50%;
          }
        }
      }
      &.styles__item-vip {
        &:hover {
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../img/page-3/vip.webp");
        }
        .styles__item-title {
          &::after {
            top: -70%;
            left: -100%;
          }
        }
      }
      &.styles__item-extra {
        &:hover {
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../img/page-3/extra.webp");
        }
        .styles__item-title {
          &::after {
            top: -70%;
            left: -20%;
          }
        }
      }

      &-title {
        font-size: 36px;
        &::after {
          content: "";
          position: absolute;

          width: 340px;
          height: 108px;
          transform: rotate(-90deg);
        }
      }
      &-hover {
        display: none;
        margin-right: 60px;

        &-desc {
          text-align: left;
          font-size: 18px;
          line-height: 1.66667;
        }
        &-btns {
          cursor: pointer;

          @include s.d-flex($direction: column, $align: center);
          gap: 69px;
          button {
            @include s.d-flex($direction: row, $align: center);
            background: transparent;
            border: none;
            svg {
              width: 100px;
              height: 30px;
            }
          }
          &-gall {
            svg {
              width: 135px;
              height: 22px;
            }
          }
        }
      }

      // ------------ hover --------------
      &:hover {
        padding: 0 100px;

        height: 100%;
        flex: 0 0 720px;

        @media (min-width: s.$media_1920) {
          flex: 0 0 980px;
        }
        gap: 126px;

        .styles__item-title {
          width: 140px;
          color: s.$color__gold;

          &::after {
            opacity: 1;
          }
        }

        .styles__item-hover {
          @include s.d-flex($direction: column);
          padding: 0 0px;

          &-desc {
            margin-bottom: 57px;
            font-size: 18px;
            line-height: 1.66667;
          }
          &-btns {
            @include s.d-flex($direction: column);

            &-gall {
              p {
                display: block;
              }
              svg {
                width: 135px;
                height: 26px;
              }
            }
            &-list {
              @include s.d-flex($direction: row, $align: center);

              p {
                display: block;
              }
              svg {
                display: block;
                height: 20px;
              }
              &:hover {
                p {
                  color: s.$color__gold;
                }
                svg {
                  stroke: s.$color__gold;
                }
              }
            }
          }
        }
      }
    }
  }
}
