@use "../../base/globals.scss" as s;

.swiper-main {
  @media (min-width: s.$media_1440) {
    overflow: hidden;
    position: relative;

    width: 100%;
    height: 100vh;

    .swiper-slide {
      pointer-events: none;
      z-index: 0;
      width: 100%;
      height: 100vh;
    }

    .swiper-slide.swiper-slide-active{
      pointer-events: auto;
      z-index: 2;
    }
  }

  @media (max-width: 1439px) {
    .swiper-wrapper {
      display: block !important;
    }
    .swiper-slide {
      height: auto !important;
      width: 100% !important;
    }
  }
}
.swiper-pagination-main {
  display: none;
  // ------------------- 1440 -----------------
  @media (min-width: s.$media_1440) {
    display: block;

    z-index: 92;
    position: absolute;
    right: 115px !important;
    top: calc(388px / 1080px * 100%) !important;
    // top: 412px !important;
    transform: translateY(-50%);

    @include s.d-flex($direction: column, $align: center);
    gap: 12px;

    .swiper-pagination-bullet {
      cursor: pointer;
      margin: 0 !important;

      @include s.d-flex($direction: column, $align: center, $justify: center);

      background: none !important;
      opacity: 1 !important;
      width: auto !important;
      height: auto !important;

      svg {
        width: 7px;
        height: 7px;
      }
    }

    .pagination-icon.active {
      display: none;
    }

    .swiper-pagination-bullet-active .pagination-icon {
      &.default {
        display: none;
      }
      &.active {
        display: block;
        width: 25px;
        height: 25px;
      }
    }
  }
}
