<div class="gallery gallery-vip">
  <div class="gallery-swiper swiper-gallery-vip">
    <div class="swiper-wrapper">
      <div class="swiper-slide gallery-slide-1">
        <img src="" alt="" loading="lazy"/>
        <div class="swiper-slide__point-mob">
          <svg class="swiper-slide__point-mob-1 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-2 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-3 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
        </div>
        <div class="swiper-slide__point-tablet">
          <div class="point-tablet point-tablet__1">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Waterproofing of wet areas</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__2">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Assistance in selecting furniture, appliances, plumbing fixtures,
              and finishing materials
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__3">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Laying laminate flooring on a subfloor
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
        </div>
        <div class="swiper-slide__point-desk">
          <div class="point-tablet point-tablet__1">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Waterproofing of wet areas</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__2">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Assistance in selecting furniture, appliances, plumbing fixtures,
              and finishing materials
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__3">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Laying laminate flooring on a subfloor
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper-slide gallery-slide-2">
        <img src="@img/gallery/elite/image-1.webp" alt="photo" loading="lazy"/>
        <div class="swiper-slide__point-mob">
          <svg class="swiper-slide__point-mob-1 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-2 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-3 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
        </div>
        <div class="swiper-slide__point-tablet">
          <div class="point-tablet point-tablet__1">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Waterproofing of wet areas</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__2">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Assistance in selecting furniture, appliances, plumbing fixtures,
              and finishing materials
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__3">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Laying laminate flooring on a subfloor
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
        </div>
        <div class="swiper-slide__point-desk">
          <div class="point-tablet point-tablet__4 point-tablet__r-t-260">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Dismantling and erection of interior partitions
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__5 point-tablet__r-t-260">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Installation of interior doors</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__6 point-tablet__l-b-243">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Deriving 90 degree angles</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__7 point-tablet__l-t-243">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Laying laminate flooring on a subfloor
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__8 point-tablet__l-t-243">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Cleaning after renovation</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper-slide gallery-slide-3">
        <img src="@img/gallery/vip/image-1.webp" alt="photo" loading="lazy"/>
        <div class="swiper-slide__point-mob">
          <svg class="swiper-slide__point-mob-1 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-2 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-3 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
        </div>
        <div class="swiper-slide__point-tablet">
          <div class="point-tablet point-tablet__1">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Waterproofing of wet areas</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__2">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Assistance in selecting furniture, appliances, plumbing fixtures,
              and finishing materials
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__3">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Laying laminate flooring on a subfloor
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
        </div>
        <div class="swiper-slide__point-desk">
          <div class="point-tablet point-tablet__4 point-tablet__r-t-260">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Dismantling and erection of interior partitions
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__5 point-tablet__r-t-260">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Installation of interior doors</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__6 point-tablet__l-b-243">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Deriving 90 degree angles</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__7 point-tablet__l-t-243">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Laying laminate flooring on a subfloor
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__8 point-tablet__l-t-243">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Cleaning after renovation</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper-slide gallery-slide-4">
        <img src="@img/gallery/extra/image-1.webp" alt="photo" loading="lazy"/>
        <div class="swiper-slide__point-mob">
          <svg class="swiper-slide__point-mob-1 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-2 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-3 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
        </div>
        <div class="swiper-slide__point-tablet">
          <div class="point-tablet point-tablet__1">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Waterproofing of wet areas</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__2">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Assistance in selecting furniture, appliances, plumbing fixtures,
              and finishing materials
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__3">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Laying laminate flooring on a subfloor
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
        </div>
        <div class="swiper-slide__point-desk">
          <div class="point-tablet point-tablet__4 point-tablet__r-t-260">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Dismantling and erection of interior partitions
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__5 point-tablet__r-t-260">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Installation of interior doors</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__6 point-tablet__l-b-243">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Deriving 90 degree angles</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__7 point-tablet__l-t-243">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">
              Laying laminate flooring on a subfloor
            </div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
          <div class="point-tablet point-tablet__8 point-tablet__l-t-243">
            <svg class="point-tablet__svg point-mob">
              <use href="@img/sprite.svg#icon-point"></use>
            </svg>
            <div class="point-tablet__line-diag"></div>
            <div class="point-tablet__line-horiz"></div>
            <div class="point-tablet__text">Cleaning after renovation</div>
            <svg class="point-tablet__svg-dot">
              <use href="@img/sprite.svg#icon-dot"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="gallery-swiper__nav">
      <div class="swiper-button-prev-vip">
        <svg>
          <use href="@img/sprite.svg#icon-swiper-left"></use>
        </svg>
        <hr />
      </div>

      <div class="gallery-swiper__nav-pagination">
        <span class="gallery-swiper__nav-pagination-current current-vip"
          >09</span
        >
        <hr />
        <span class="gallery-swiper__nav-pagination-total total-vip">04</span>
      </div>

      <div class="swiper-button-next-vip">
        <hr />
        <svg>
          <use href="@img/sprite.svg#icon-swiper-right"></use>
        </svg>
      </div>
    </div>
  </div>
  <button class="gallery-vip__close gallery__close">
    <div class="gallery__close-desk">
      <p>back to gallery</p>
      <svg>
        <use href="@img/sprite.svg#icon-button"></use>
      </svg>
    </div>
    <svg class="gallery__close-mob">
      <use href="@img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="modal-form">@@include('components/form.html', {})</div>
</div>
