<div class="gallery gallery-vip">
  <div class="gallery-swiper swiper-gallery-vip">
    <div class="swiper-wrapper">
      <div class="swiper-slide gallery-slide-1">
        <img src="@img/page-3/vip.webp" alt="photo" />
        <div class="swiper-slide__point-mob">
          <svg class="swiper-slide__point-mob-1 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-2 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-3 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
        </div>
      </div>
      <div class="swiper-slide gallery-slide-2">
        <img src="@img/gallery/elite/image-1.webp" alt="photo" />
        <div class="swiper-slide__point-mob">
          <svg class="swiper-slide__point-mob-1 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-2 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-3 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
        </div>
      </div>
      <div class="swiper-slide gallery-slide-3">
        <img src="@img/gallery/vip/image-1.webp" alt="photo" />
        <div class="swiper-slide__point-mob">
          <svg class="swiper-slide__point-mob-1 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-2 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-3 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
        </div>
      </div>
      <div class="swiper-slide gallery-slide-4">
        <img src="@img/gallery/extra/image-1.webp" alt="photo" />
        <div class="swiper-slide__point-mob">
          <svg class="swiper-slide__point-mob-1 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-2 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
          <svg class="swiper-slide__point-mob-3 point-mob">
            <use href="@img/sprite.svg#icon-point"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="gallery-swiper__nav">
      <div class="swiper-button-prev-vip">
        <svg>
          <use href="@img/sprite.svg#icon-swiper-left"></use>
        </svg>
      </div>

      <div class="gallery-swiper__nav-pagination">
        <span class="gallery-swiper__nav-pagination-current current-vip"
          >09</span
        >
        <hr />
        <span class="gallery-swiper__nav-pagination-total total-vip">04</span>
      </div>

      <div class="swiper-button-next-vip">
        <svg>
          <use href="@img/sprite.svg#icon-swiper-right"></use>
        </svg>
      </div>
    </div>
  </div>
  <button class="gallery-vip__close gallery__close">
    <div class="gallery__close-desk">
      <p>back to gallery</p>
      <svg>
        <use href="@img/sprite.svg#icon-button"></use>
      </svg>
    </div>
    <svg class="gallery__close-mob">
      <use href="@img/sprite.svg#icon-close"></use>
    </svg>
  </button>
</div>
