@use "../base/globals.scss" as s;

.menu {
  z-index: 100;
  width: 100%;
  position: fixed;
  bottom: -100%;
  height: 100vh;
  overflow-y: auto;
  backdrop-filter: blur(60px);
  background: rgba(0, 0, 0, 0.6);

  @include s.d-flex($direction: column, $align: center);

  transition: all 0.5s ease;

  &.active {
    bottom: 0;
  }
  &__nav {
    margin-top: 80px;
    width: 100%;

    &-item:not(:last-child) {
      border-bottom: 2px solid transparent;
      background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 52%,
          rgba(255, 255, 255, 0) 100%
        )
        no-repeat bottom;
      background-size: 100% 2px;
    }

    &-item {
      padding: 38px 0;
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      // &-blog {
      //   display: none;
      // }

      a {
        color: s.$color__white;
        transition: color 0.5s ease;
      }
      &:hover {
        a {
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
  &__info {
    width: 100%;
    @include s.d-flex($direction: column, $align: center);

    background: s.$color__white;
    &-one {
      @include s.d-flex($direction: column, $align: center);
      padding: 36px 33px 26px 33px;

      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      div {
        @include s.d-flex($direction: column, $align: center);
        gap: 19px;
      }
      img {
        display: none;
      }
      p {
        font-family: s.$font__roboto;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.69em;
        text-transform: uppercase;
        color: s.$color__black;
      }
      svg {
        width: 248px;
        height: 28px;
        use {
          width: 248px;
          height: 21px;
        }
      }
    }
    &-two {
      padding: 46px 33px 48px 0px;
      @include s.d-flex($direction: column);
      gap: 27px;
      li {
        @include s.d-flex($direction: row, $align: center);
        gap: 27px;
        svg {
          width: 25px;
          height: 25px;
        }
        p {
          font-weight: 300;
          font-size: 14px;
          line-height: 1.42857;
          color: s.$color__black;
        }
      }
    }
  }

  // ------------------- 768 -----------------
  @media (min-width: s.$media_768) {
    &__nav {
      margin-top: 100px;

      // &-item:not(:last-child) {
      //   border-bottom: 2px solid transparent;
      //   background: linear-gradient(
      //       to right,
      //       rgba(255, 255, 255, 0) 0%,
      //       rgba(255, 255, 255, 1) 52%,
      //       rgba(255, 255, 255, 0) 100%
      //     )
      //     no-repeat bottom;
      //   background-size: 100% 2px;
      // }

      &-item {
        padding: 60px 0;

        font-size: 30px;

        &-blog {
          display: block;
        }
      }
    }
    &__info {
      @include s.d-flex($direction: column);

      &-one {
        @include s.d-flex($direction: row);
        gap: 62px;
        padding: 50px 55px 36px 55px;

        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        div {
          @include s.d-flex($direction: column, $align: center);
          gap: 22px;
        }
        img {
          display: block;
          width: 145px;
        }
        p {
          margin-top: 15px;
          font-size: 24px;
        }
        svg {
          margin: 0 auto 0 0;
        }
      }
      &-two {
        padding: 34px 0px 58px 88px;
        @include s.d-flex($direction: column);
        gap: 29px;
        li {
          @include s.d-flex($direction: row, $align: center);
          gap: 27px;
          p {
            font-size: 18px;
            line-height: 1.66667;
            br {
              display: none;
            }
          }
        }
      }
    }
  }

  // ------------------- 1440 -----------------
  @media (min-width: s.$media_1440) {
    @include s.d-flex($direction: column, $align: center, $justify: center);

    &__nav {
      width: auto;
      margin-top: 0px;
      height: 100%;
      @include s.d-flex($direction: row, $align: center);

      &-item:not(:last-child) {
        border-bottom: 0px;
				background: none;
        // border-right: 2px solid transparent;
        // background: linear-gradient(
        //     to bottom,
        //     rgba(255, 255, 255, 0) 0%,
        //     rgba(255, 255, 255, 1) 52%,
        //     rgba(255, 255, 255, 0) 100%
        //   )
        //   no-repeat right;
        // background-size: 2px 100%;
      }

      &-item {
				position: relative;
        @include s.d-flex($direction: row, $align: center, $justify: center);
        width: 220px;
        height: 250px;

        box-sizing: border-box;
        padding: 0px 30px;

        font-size: 30px;


				&:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        transition: opacity 0.3s ease; // щоб м'яко зникало
      }

      // створюємо бордер зліва (для ховера всередині)
      &:not(:first-child)::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        transition: opacity 0.3s ease;
      }

        &:hover {
          height: 100%;
          background-color: rgba(0, 0, 0, 0.15);
        }
      }
    }
    &__info {
      @include s.d-flex($direction: column);
      // width: 1564px;
      width: 1100px;

      &-one {
        @include s.d-flex($direction: row);
        gap: 62px;
        padding: 50px 55px 36px 55px;

        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        div {
          @include s.d-flex($direction: row, $align: center);
          gap: 5px;
        }
        img {
          width: 88px;
        }
        p {
          margin-top: 0px;
          // font-size: 24px;
          font-size: 18px;
        }
        svg {
          // width: 248px;
          width: 200px;
        }
      }
      &-two {
        padding: 34px 55px 58px 55px;
        @include s.d-flex($direction: row);
        gap: 29px;
        li {
          @include s.d-flex($direction: row, $align: center);
          // gap: 27px;
          gap: 20px;
          p {
            // font-size: 18px;
            font-size: 15px;
          }
        }
      }
    }
  }

  // ------------------- 1920 -----------------
  @media (min-width: s.$media_1920) {
    &__nav {
      &-item {
        width: 320px;
        padding: 0px 60px;

        font-size: 30px;
      }
    }
    &__info {
      width: 1564px;

      &-one {
        @include s.d-flex(
          $direction: row,
          $align: center,
          $justify: space-between
        );

        gap: 64px;
        padding: 54px 0 49px 0;
        margin: 0 55px;

        div {
          @include s.d-flex(
            $direction: row,
            $align: center,
            $justify: space-between
          );

          gap: 76px;
        }
        img {
          width: 88px;
        }
        p {
          font-size: 24px;
        }
        svg {
          width: 248px;
        }
      }
      &-two {
        @include s.d-flex(
          $direction: row,
          $align: center,
          $justify: space-between
        );

        padding: 34px 55px 42px 55px;
        gap: 29px;
        li {
          @include s.d-flex($direction: row, $align: center);
          gap: 30.5px;
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
