@use "./variables.scss" as s;

.modal-mob {
  // ------------------- 1440 -----------------
  @media (min-width: s.$media_1440) {
    display: none;
  }
}
.modal-desk {
  display: none;
  // ------------------- 1440 -----------------
  @media (min-width: s.$media_1440) {
    display: flex;
  }
}
.modal-back-btn {
  position: absolute;
  right: 178px;
  top: 140px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 24px;
  p {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: s.$color__white;

    transition: color 0.5s ease;
  }
  svg {
    fill: none;
    stroke: s.$color__white;
    width: 125px;
    height: 22px;

    transition: stroke 0.5s ease;
  }
  &:hover {
    p {
      color: s.$color__gold;
    }
    svg {
      stroke: s.$color__gold;
    }
  }
  @media (min-width: s.$media_1920) {
    top: 160px;
  }
}

.container {
  // padding: 0 32px;
  // @media (min-width: s.$media_768) {
  //   & {
  //     padding: 0 90px;
  //   }
  //   @media (min-width: s.$media_1440) {
  //     box-sizing: border-box;
  //     width: 1440px;
  //     margin: 0 auto;
  //   }
  //   @media (min-width: s.$media_1920) {
  //     padding: 0 190px;

  //     width: 1920px;
  //   }
  // }
}

.section {
  // padding-top: 45px;
  // padding-bottom: 45px;
  // @media (min-width: s.$media_768) {
  //   & {
  //     padding-top: 100px;
  //     padding-bottom: 100px;
  //   }
  // }
  // @media (min-width: s.$media_1440) {
  //   & {
  //     padding-top: 120px;
  //     padding-bottom: 120px;
  //   }
  // }
}
