$color__white: #fff;
$color__black: #000;
$color__gold: #FFAC30;
$color__hover: #d5932f;
$color__red: #ff4242;



$media_375: 320px;
$media_375: 375px;
$media_768: 768px;
$media_1440: 1440px;
$media_1920: 1920px;

$font__open: 'OpenSans';
$font__brs: 'BrunoAceSC';
$font__br: 'BrunoAce';
$font__roboto: 'Roboto';
