<div class="vertical-component">
  <a class="vertical-component__logo" href="./" aria-label="Walter House">
    <img width="68" src="@img/logo.webp" alt="logo" />
  </a>
  <p class="vertical-component__text">apartment renovation</p>
  <hr class="vertical-component__line" />
  <nav class="vertical-component__nav">
    <a class="vertical-component__nav-link">
      <svg>
        <use href="@img/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
    <a class="vertical-component__nav-link">
      <svg>
        <use href="@img/sprite.svg#icon-instagram"></use>
      </svg>
    </a>
    <a class="vertical-component__nav-link">
      <svg>
        <use href="@img/sprite.svg#icon-telegram"></use>
      </svg>
    </a>
    <a class="vertical-component__nav-link">
      <svg>
        <use href="@img/sprite.svg#icon-youtube"></use>
      </svg>
    </a>
  </nav>
</div>
