<section class="section-form swiper-slide" id="services">
  <div class="services">
    <ul class="services__list">
      <li class="services__list-item services__grid-1">
        <p>Video-surveillance and alarm</p>
      </li>
      <li class="services__list-item services__grid-2">
        <p>Selection of furniture</p>
      </li>
      <li class="services__list-item services__grid-3">
        <p>Household appliances</p>
      </li>
      <li class="services__list-item services__grid-4">
        <p>Ultra service</p>
      </li>
      <li class="services__list-item services__grid-5">
        <p>Online broadcast of repair</p>
      </li>
    </ul>
    <button class="services__more-mob">
      more services
      <svg>
        <use href="@img/sprite.svg#icon-more"></use>
      </svg>
    </button>
  </div>
  <div class="modal-desk">@@include('components/modal/services.html', {})</div>

  <div class="main-form">@@include('components/form.html', {})</div>
</section>
