<section class="section-form swiper-slide">
  <div class="services">
    <ul class="services__list">
      <li class="services__list-item services__grid-1">
        Video-surveillance and alarm
      </li>
      <li class="services__list-item services__grid-2">
        Selection of furniture
      </li>
      <li class="services__list-item services__grid-3">Household appliances</li>
      <li class="services__list-item services__grid-4">Ultra service</li>
      <li class="services__list-item services__grid-5">
        Online broadcast of repair
      </li>
    </ul>
    <button class="services__more-mob">
      more services
      <svg>
        <use href="@img/sprite.svg#icon-more"></use>
      </svg>
    </button>
  </div>
  <div class="main-form">@@include('components/form.html', {})</div>
</section>
