<section class="section-form swiper-slide">
  <div class="size">
    <p class="size__title">
      Select an area size & <br/> one of the service packages:
    </p>
    <div class="size__info">
      <div class="size__info-svg">
        <p>m²</p>
        <h3>64</h3>
      </div>
      <div class="size__info-variant">
        <div class="size__info-variant-btns">
          <button>
            <p>i</p>
            <h3>elite</h3>
          </button>
          <button>
            <p>i</p>
            <h3>vip</h3>
          </button>
          <button>
            <p>i</p>
            <h3>extra</h3>
          </button>
        </div>
        <div class="size__info-variant-hover">
          <hr class="size__info-variant-hover-elite" />
          <svg class="size__info-variant-hover-elite">
            <use href="@img/sprite.svg#icon-dot"></use>
          </svg>
          <hr
            class="size__info-variant-hover-elite size__info-variant-hover-vip"
          />
          <svg class="size__info-variant-hover-vip">
            <use href="@img/sprite.svg#icon-dot"></use>
          </svg>
          <hr
            class="size__info-variant-hover-vip size__info-variant-hover-extra"
          />
          <svg class="size__info-variant-hover-extra">
            <use href="@img/sprite.svg#icon-dot"></use>
          </svg>
          <hr class="size__info-variant-hover-extra" />
        </div>
      </div>
      <p class="size__info-price">233 000 <span>uan</span></p>
    </div>
  </div>
  <div class="main-form">@@include('components/form.html', {})</div>
</section>
