<section class="section-form swiper-slide" id="steps">
  <div class="steps">
    <p class="steps__title">6 steps to your WALTER house:</p>
    <div class="steps__info">
      <div class="steps__info-svg">
        <h3>3</h3>
      </div>
      <div class="steps__info-variant">
        <div class="steps__info-variant-title">
          <img src="@img/steps/step-1.webp" alt="doc" loading="lazy"/>
          <h2>DRAFTING AN ESTIMATE</h2>
        </div>
        <p class="steps__info-variant-desc">
          <svg>
            <use href="@img/sprite.svg#icon-this"></use>
          </svg>
          DEVELOPMENT OF TERMS OF REFERENCE, 3D VISUALIZATION AND CALCULATION OF
          THE ESTIMATE
        </p>
      </div>
    </div>
  </div>
  <div class="main-form desc-form">@@include('components/form.html', {})</div>
</section>
