<section class="swiper-slide">
  <ul class="styles">
    <li class="styles__item styles__item-elite">
      <h2 class="styles__item-title">elite</h2>
      <div class="styles__item-hover">
        <p class="styles__item-hover-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <div class="styles__item-hover-btns">
          <button class="styles__item-hover-btns-gall">
            <p>gallery</p>
            <svg>
              <use href="@img/sprite.svg#icon-button"></use>
            </svg>
          </button>
          <button class="styles__item-hover-btns-list">
            <p>list of services</p>
            <svg>
              <use href="@img/sprite.svg#icon-button-shot"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="styles__item styles__item-vip">
      <h2 class="styles__item-title">vip</h2>
      <div class="styles__item-hover">
        <p class="styles__item-hover-desc">
          THE VIP STYLE INCLUDES AN EXTENDED SET OF WORKS. SUITABLE FOR THOSE
          WHO WANTS TO GET THE PERFECT RESULT.
        </p>
        <div class="styles__item-hover-btns">
          <button class="styles__item-hover-btns-gall">
            <p>gallery</p>
            <svg>
              <use href="@img/sprite.svg#icon-button"></use>
            </svg>
          </button>
          <button class="styles__item-hover-btns-list">
            <p>list of services</p>
            <svg>
              <use href="@img/sprite.svg#icon-button-shot"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="styles__item styles__item-extra">
      <h2 class="styles__item-title">extra</h2>
      <div class="styles__item-hover">
        <p class="styles__item-hover-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <div class="styles__item-hover-btns">
          <button class="styles__item-hover-btns-gall">
            <p>gallery</p>
            <svg>
              <use href="@img/sprite.svg#icon-button"></use>
            </svg>
          </button>
          <button class="styles__item-hover-btns-list">
            <p>list of services</p>
            <svg>
              <use href="@img/sprite.svg#icon-button-shot"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
  </ul>
</section>
