<div class="modal-about">
  <div class="modal-about__info">
    <div class="modal-about__info-image">
      <img src="@img/about/logo.webp" alt="logo" />
      <div class="hero__text-title">
        <h1 class="hero__text-title-walter">walter</h1>
        <p class="hero__text-title-desc">your personal</p>
        <h1 class="hero__text-title-house">House</h1>
      </div>
    </div>
    <div class="modal-about__info-text">
      <h1>A place for a short slogan here A place for a short slogan here</h1>
      <ul>
        <li>
          <h2>A place for a subtitle</h2>
          <p>
            <span>The significance of these problems is so obvious, </span
            >that the new model of organizational activity
            contributes to the preparation and implementation of development
            forms. However, it should not be forgotten that the framework and
            place of staff training contribute to the preparation and
            implementation of new proposals. Everyday practice shows that the
            constant informational and promotional support of our activities
            requires the definition and clarification of the appropriate
            conditions for activation.
          </p>
        </li>
        <li>
          <h2>A place for a subtitle</h2>
          <p>
            <span>The significance of these problems is so obvious, </span
            >that the new model of organizational activity
            contributes to the preparation and implementation of development
            forms. However, it should not be forgotten that the framework and
            place of staff training contribute to the preparation and
            implementation of new proposals. Everyday practice shows that the
            constant informational and promotional support of our activities
            requires the definition and clarification of the appropriate
            conditions for activation.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <button class="modal-about__back">
    <p>return to home page</p>
    <svg>
      <use href="@img/sprite.svg#icon-button"></use>
    </svg>
  </button>
</div>
