<div class="list-modal">
  <button class="list-modal__close">
    <svg>
      <use href="@img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="list-modal__info">
    <h1 class="list-modal__info-title"></h1>
    <div class="list-modal__info-text">
      <h3>from 3000 UAH</h3>
      <hr />
      <ul class="list-modal__info-text-list">
        <li>Dismantling and erecting interior partitions</li>
        <li>Aligning walls for a beacon, finishing walls for wallpapering</li>
        <li>Adjusting 90-degree angles</li>
        <li>Electrical work (as per project)</li>
        <li>Installing low-current wiring (internet, antenna)</li>
        <li>Installing plumbing and sewerage</li>
        <li>Waterproofing wet areas</li>
        <li>Pouring floor screed (up to 10 cm, sand concrete/expanded clay)</li>
        <li>Preparing walls for wallpapering</li>
        <li>Wallpapering</li>
        <li>Laminating laminate flooring on underlayment</li>
        <li>
          Laying floor and wall tiles in the bathroom and toilet (up to 5 m2 of
          floor area)
        </li>
        <li>Installing PVC baseboards</li>
        <li>Stretch ceiling</li>
        <li>Installing interior doors</li>
        <li>Installing a bathtub/shower enclosure</li>
        <li>Installing a sink</li>
        <li>Installing an inspection hatch in a riser</li>
        <li>Installing a plasterboard ceiling</li>
        <li>Post-renovation cleaning</li>
      </ul>
    </div>
  </div>
</div>
