<div class="size-modal">
  <button class="services-modal__close">
    <svg>
      <use href="@img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="size-modal__info">
    <h2 class="size-modal__info-title">
      <span></span>
      Style
    </h2>
    <hr />
    <div class="size-modal__info-desc">
			<p></p>
			<ul>
				<li>Installation and Construction of Interior Partitions</li>
				<li>Aligning Walls for Beacons, Finishing Walls for Wallpaper</li>
				<li>Aligning 90-Degree Angles</li>
				<li>Electrical Work (as per project)</li>
				<li>Installing Low-Voltage Wiring (Internet, Antenna)</li>
				<li>Plumbing and sewer installation</li>
				<li>Waterproofing wet areas</li>
				<li>Pouring floor screed (up to 10 cm, sand concrete/expanded clay)</li>
				<li>Preparing walls for wallpapering</li>
				<li>Wallpapering</li>
				<li>Laying laminate flooring on underlayment</li>
				<li>Laying floor and wall tiles in the bathroom and toilet (up to 5 m2 of floor area)</li>
				<li>Installing PVC baseboards</li>
				<li>Stretch ceiling</li>
				<li>Installing interior doors</li>
				<li>Installing a bathtub/shower enclosure</li>
				<li>Installing a sink</li>
				<li>Installing an inspection hatch in a riser</li>
				<li>Installing a plasterboard ceiling</li>
				<li>Post-renovation cleaning</li>
			</ul>
		</div>
  </div>
</div>
