<div class="modal-steps">
  <h1 class="modal-steps__title">steps & icons</h1>
  <ul class="modal-steps__list">
    <li class="modal-steps__list-item">
      <div class="modal-steps__list-item-main">
        <div><img src="@img/steps/step-1.webp" alt="step 1"  loading="lazy"/></div>
        <h2>LEAVE AN APPLICATION</h2>
      </div>
      <p class="modal-steps__list-item-desc">
        LEAVE AN APPLICATION BY PHONE OR ON OUR WEBSITE
      </p>
    </li>
    <li class="modal-steps__list-item">
      <div class="modal-steps__list-item-main">
        <div><img src="@img/steps/step-2.webp" alt="step 2"  loading="lazy"/></div>
        <h2>CHECK OUT OF THE MEASURER</h2>
      </div>
      <p class="modal-steps__list-item-desc">
        OUR SPECIALIST COMES TO YOU AT THE OBJECT FOR MEASURING AND PHOTO FIXING
      </p>
    </li>
    <li class="modal-steps__list-item">
      <div class="modal-steps__list-item-main">
        <div><img src="@img/steps/step-3.webp" alt="step 3"  loading="lazy"/></div>
        <h2>DRAFTING AN ESTIMATE</h2>
      </div>
      <p class="modal-steps__list-item-desc">
        DEVELOPMENT OF TERMS OF REFERENCE, 3D VISUALIZATION AND CALCULATION OF
        THE ESTIMATE
      </p>
    </li>
    <li class="modal-steps__list-item">
      <div class="modal-steps__list-item-main">
        <div><img src="@img/steps/step-4.webp" alt="step 4"  loading="lazy"/></div>
        <h2>THE CONTRACT</h2>
      </div>
      <p class="modal-steps__list-item-desc">
        AGREEMENT OF THE COST AND DATE OF COMPLETION OF WORKS, SIGNING OF THE
        CONTRACT
      </p>
    </li>
    <li class="modal-steps__list-item">
      <div class="modal-steps__list-item-main">
        <div><img src="@img/steps/step-5.webp" alt="step 5"  loading="lazy"/></div>
        <h2>BEGINNING OF WORK</h2>
      </div>
      <p class="modal-steps__list-item-desc">
        START OF REPAIR WORKS UNDER THE SUPERVISION OF A PERSONAL SUPERVISOR
      </p>
    </li>
    <li class="modal-steps__list-item">
      <div class="modal-steps__list-item-main">
        <div><img src="@img/steps/step-6.webp" alt="step 6"  loading="lazy"/></div>
        <h2>COMPLETION</h2>
      </div>
      <p class="modal-steps__list-item-desc">
        COMPLETION OF REPAIRS, REMOVAL OF CONSTRUCTION rubbish
      </p>
    </li>
  </ul>
  <button class="modal-back-btn modal-steps__back">
    <p>back to steps</p>
    <svg>
      <use href="@img/sprite.svg#icon-button"></use>
    </svg>
  </button>
</div>
