<section class="call">
  <div class="call__close">
    <button class="call__close-button">
      <svg>
        <use href="@img/sprite.svg#icon-call-close"></use>
      </svg>
    </button>
    <hr />
  </div>
  <div class="call__info">
    <form class="call__info-form">
      <div class="call__info-form__input">
        <input type="text" name="name" placeholder="Your name" />
      </div>
      <div class="call__info-form__input">
        <input type="tel" name="phone" placeholder="Your phone number" />
      </div>
      <button type="submit">
        <p>Discuss a project</p>
        <svg>
          <use href="@img/sprite.svg#icon-button"></use>
        </svg>
      </button>
    </form>
    <div class="call__info-respond">
      <h1 class="call__info-respond-title">Thank you for your application!</h1>
      <p class="call__info-respond-desc">Our manager will contact you shortly.</p>
      <button class="call__info-respond-back">
        <p>return to home page</p>
        <svg>
          <use href="@img/sprite.svg#icon-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
