<!-- <a href="portfolio.html">Portfolio</a> -->

<!-- <img width="150" src="@img/image.png" alt="photo" /> -->

<!-- <picture class="blog__card-image">
  <source srcset="@img/image-desk.png" media="(min-width: 1440px)" />
  <source srcset="@img/image-tablet.png" media="(min-width: 768px)" />
  <img src="@img/image-mob.webp" alt="Work ${title}" />
</picture> -->
<header>
  <div class="header">
    <div class="header__logo">
      <a class="header__logo-home" href="./" aria-label="Walter House">
        <img width="68" src="@img/logo.webp" alt="logo" />
      </a>
      <button class="header__menu">
        <svg>
          <use href="@img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <a class="header__logo-tel" href="tel:+380971234567">+38 (097) 123 45 67</a>
    </div>
    <div class="header__call">
      <p>request for a call</p>
      <button class="header__call-button">
        <svg>
          <use href="@img/sprite.svg#icon-call"></use>
        </svg>
      </button>
    </div>
  </div>
  <hr />
</header>
