<section class="menu">
  <ul class="menu__nav">
    <li class="menu__nav-item">
      <a href="#styles" aria-label="Styles">Renovation styles</a>
    </li>
    <li class="menu__nav-item">
      <a href="#price" aria-label="Price">Price</a>
    </li>
    <li class="menu__nav-item">
      <a href="#steps" aria-label="Steps">5 steps to Walter House</a>
    </li>
    <li class="menu__nav-item">
      <a href="#services" aria-label="Services">More services</a>
    </li>
    <li class="menu__nav-item menu__nav-item-blog">
      <a href="#blog" aria-label="Blog">Blog</a>
    </li>
  </ul>
  <div class="menu__info">
    <div class="menu__info-one">
      <img width="68" src="@img/logo.webp" alt="logo" />
      <div>
        <p>turnkey construction of houses</p>
        <svg>
          <use href="@img/sprite.svg#icon-button-long"></use>
        </svg>
      </div>
    </div>
    <ul class="menu__info-two">
      <li>
        <svg>
          <use href="@img/sprite.svg#icon-adress"></use>
        </svg>
        <p>Kiev, st. Getman Street 101</p>
      </li>
      <li>
        <svg>
          <use href="@img/sprite.svg#icon-oclock"></use>
        </svg>
        <p>
          Mon–Fri: 9:00 - 19:00, <br />
          Sat: 10:00 - 17:00
        </p>
      </li>
      <li>
        <svg>
          <use href="@img/sprite.svg#icon-email"></use>
        </svg>
        <p>info@dhs.com</p>
      </li>
      <li>
        <svg>
          <use href="@img/sprite.svg#icon-phone"></use>
        </svg>
        <p>+38 (097) 123 45 67</p>
      </li>
    </ul>
  </div>
</section>
